// Shared SCSS variables for components
$size-0: 4px;
$size-1: 8px;
$size-2: 12px;
$size-3: 16px;
$size-4: 20px;
$size-5: 28px;
$size-6: 40px;
$size-7: 60px;
$size-8: 100px;
$size-9: 160px;
$size-10: 240px;

$primary-10: hsl(230, 70%, 10%);
$primary-20: hsl(230, 70%, 20%);
$primary-30: hsl(230, 70%, 30%);
$primary-40: hsl(230, 70%, 40%);
$primary-50: hsl(230, 70%, 50%);
$primary-60: hsl(230, 70%, 60%);
$primary-70: hsl(230, 70%, 70%);
$primary-80: hsl(230, 70%, 80%);
$primary-90: hsl(230, 70%, 90%);
$primary-100: hsl(230, 70%, 100%);

$secondary-10: hsl(60, 50%, 10%);
$secondary-20: hsl(60, 50%, 20%);
$secondary-30: hsl(60, 50%, 30%);
$secondary-40: hsl(60, 50%, 40%);
$secondary-50: hsl(60, 50%, 50%);
$secondary-60: hsl(60, 50%, 60%);
$secondary-70: hsl(60, 50%, 70%);
$secondary-80: hsl(60, 50%, 80%);
$secondary-90: hsl(60, 50%, 90%);
$secondary-100: hsl(60, 50%, 100%);